# virtual environment
/venv

# caches
__pycache__/
.mypy_cache/
.pytest_cache/

# misc
.DS_STORE
.env
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local
